/* CONFIGURACIÓN GENERAL */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
}


/* ENCABEZADO */

header {
    background-color: #005191;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 36px;
}

header p {
    font-size: 18px;
}


/* MENÚ */

nav {
    background-color: #003b6f;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}


/* CONTENIDO PRINCIPAL */

main {
    padding: 30px;
}


/* SECCIÓN PRINCIPAL */

.principal {
    background-color: #005191;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.principal h2 {
    font-size: 30px;
}


/* BOTÓN */

button {
    background-color: black;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
}


/* SECCIÓN DE TARJETAS */

.tarjetas {
    text-align: center;
}

.tarjeta {
    display: inline-block;
    width: 25%;
    margin: 10px;
    padding: 20px;
    background-color: #005191;
    border-radius: 10px;
}


/* PIE DE PÁGINA */

footer {
    background-color: #003b6f;
    color: white;
    text-align: center;
    padding: 20px;
}